@import '~bootstrap/dist/css/bootstrap-min.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Oswald';
    font-weight: 400;
}

.content-navbar {
    padding: 20px 30px 0px;
}

.main-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto auto;
    row-gap: 50px;
}

.btn-group {
    outline: 0;
    border: 0;
    background-color: #f8f9fa;
    padding: 6px 20px;
    border-radius: 10px;
    display: block;
    width: fit-content;
}

.btn-select-class {
    outline: 0;
    border: 0;
    border: none;
    background-color: #f8f9fa;
    color: #0c0f48;
}

.btn-class, .btn-class:hover, .btn-class:visited, .btn-class:active {
    outline: 0;
    border: 0;
    background-color: #f8f9fa;
    color: #0c0f48;
    white-space: nowrap;
}

.logo-wrapper {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

.content-table {
    padding-left: 10px;
    padding-right: 10px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    font-weight: 500;
}

th {
    text-align: center;
    color: #0c0f48;
    opacity: 0.45;
}

td {
    text-align: center;
    padding: 15px 12px;
}

tbody > tr {
    background-color: #f8f9fa;
}